html, body {
  height: 100%;
}

b {
  font-weight: bold;
}

#app {
  height: 100%;

  #wrapper {
    display: flex;
    height: 100%;

    > main {
      @include scrollbars(5px, var(--border-color), var(--dark-background));
      overflow-y: scroll;
      width: 100%;
      background-color: var(--background-color);
      padding: 25px;
      color: var(--text-color);
    }

  }

  div#sidebar-footer {
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    border-top: 1px solid var(--border-color);

  }
}

div#wrapper {
  display: flex;
}

div#sidebar {
  background-color: var(--second-background-color);
  min-width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  z-index: 1;

  div#menu-items {
    flex: 1;

    .menu-item {
      display: flex;
      margin: 5px;
      padding: 13px 10px;
      gap: 5px;
      color: var(--text-color);
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      border-radius: 8px;

      &:hover:not(.selected) {
        background-color: var(--dark-background);
      }

      &.selected {
        background-color: var(--background-color);
      }

    }

  }
}

div#home {
  display: flex;
  flex-direction: column;
  height: 100%;

  div#welcome {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);

    h1 {
      font-size: 50px;
    }

    h4 {
      font-size: 22px;
      background-color: var(--second-background-color);
      padding: 10px 20px;
      border-radius: 18px;
      margin-top: 15px;
      border: 1px solid var(--border-color);

      a {
        background-color: $appwrite;
        padding: 5px 15px;
        border-radius: 7px;
        color: white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  div#home-box {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .home-box {
      width: 24%;
      display: flex;
      background-color: var(--second-background-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 30px;
      color: var(--text-color);

      .hb-icon {
        margin-inline-end: 10px;
        display: flex;
        background-color: var(--background-color);
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 55px;
      }

      .hb-titles {
        h3 {
          cursor: pointer;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 5px;
        }

        h4 {
          display: flex;
          justify-content: space-between;

          span {
            color: $appwrite;
            font-weight: bold;
          }
        }

      }
    }
  }
}


.ar-form {
  h1 {
    font-size: 35px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .ar-form-block {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--border-color);
    display: flex;

    label {
      width: 250px;
      display: block;
      font-size: 20px;
    }

    select {
      width: 200px;
      background-color: var(--second-background-color);
      padding: 8px 16px;
      border-radius: 5px;
      position: relative;
    }
  }
}


.btn {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid;
  cursor: pointer;

  &.btn-large {
    padding: 10px 25px;
    font-size: 120%;
  }

  &.btn-text {
    width: unset;
    height: unset;
  }

  &.btn-green {
    border-color: var(--color-success);
    color: var(--color-success);

    &:hover {
      background-color: var(--color-success);
      color: var(--background-color);
    }
  }

  &.btn-red {
    border-color: var(--color-danger);
    color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger);
      color: var(--background-color);
    }
  }

  &.btn-blue {
    border-color: var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--background-color);
    }
  }
}

.code {
  display: inline-block;
  background-color: var(--dark-background);
  padding: 3px 9px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
}

.form-block {
  display: flex;
  gap: 10px;
  background-color: var(--second-background-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;

  label {
    flex: 1;
    font-size: 16px;
  }

  input {
    background-color: var(--background-color);
    flex: 4;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;

    &[disabled] {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

}
