html, body, html body.swal2-height-auto {
  height: 100% !important;
}

b {
  font-weight: bold;
}

#app {
  height: 100%;

  #wrapper {
    display: flex;
    height: 100%;

    > main {
      @include scrollbars(5px, var(--border-color), var(--dark-background));
      overflow-y: scroll;
      width: 100%;
      background-color: var(--background-color);
      padding: 25px;
      color: var(--text-color);
    }

  }

  div#sidebar-footer {
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    border-top: 1px solid var(--border-color);

  }
}

div#wrapper {
  display: flex;
}

div#sidebar {
  background-color: var(--second-background-color);
  min-width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  border-inline-end: 1px solid var(--border-color);
  z-index: 1;

  div#menu-items {
    flex: 1;

    .menu-item {
      display: flex;
      margin: 5px;
      padding: 13px 10px;
      gap: 5px;
      color: var(--text-color);
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      border-radius: 8px;

      &:hover:not(.selected) {
        background-color: var(--dark-background);
      }

      &.selected {
        background-color: var(--background-color);
      }

    }

  }
}

div#home {
  display: flex;
  flex-direction: column;
  height: 100%;

  div#welcome {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);

    h1 {
      font-size: 50px;
    }

    h4 {
      font-size: 22px;
      background-color: var(--second-background-color);
      padding: 10px 20px;
      border-radius: 18px;
      margin-top: 15px;
      border: 1px solid var(--border-color);

      a {
        background-color: $appwrite;
        padding: 5px 15px;
        border-radius: 7px;
        color: white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  div#home-box {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .home-box {
      width: 24%;
      display: flex;
      background-color: var(--second-background-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 30px;
      color: var(--text-color);

      .hb-icon {
        margin-inline-end: 10px;
        display: flex;
        background-color: var(--background-color);
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 55px;
      }

      .hb-titles {
        h3 {
          cursor: pointer;
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 5px;
        }

        h4 {
          display: flex;
          justify-content: space-between;

          span {
            color: $appwrite;
            font-weight: bold;
          }
        }

      }
    }
  }
}


.ar-form {
  h1 {
    font-size: 35px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .ar-form-block {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--border-color);
    display: flex;

    label {
      width: 250px;
      display: block;
      font-size: 20px;
    }

    select {
      width: 200px;
      background-color: var(--second-background-color);
      padding: 8px 16px;
      border-radius: 5px;
      position: relative;
    }
  }
}


.btn {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid;
  cursor: pointer;

  &.btn-large {
    padding: 10px 25px;
    font-size: 120%;
  }

  &.btn-text {
    width: unset;
    height: unset;
    padding: 10px;

    i {
      margin-inline-end: 10px;
    }
  }

  &.btn-green {
    border-color: var(--color-success);
    color: var(--color-success);

    &:hover {
      background-color: var(--color-success);
      color: var(--background-color);
    }
  }

  &.btn-red {
    border-color: var(--color-danger);
    color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger);
      color: var(--background-color);
    }
  }

  &.btn-blue {
    border-color: var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--background-color);
    }
  }
}

.code {
  display: inline-block;
  background-color: var(--dark-background);
  padding: 3px 9px;
  border-radius: 7px;
  border: 1px solid var(--border-color);
}

.form-block {
  display: flex;
  gap: 10px;
  background-color: var(--second-background-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;

  label {
    flex: 1;
    font-size: 16px;
  }

  .select-holder {
    select {
      width: 100%;
    }
  }

  input, .select-holder {
    background-color: var(--background-color);
    flex: 4;
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;

    &[disabled] {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

.select-holder {
  position: relative;

  &:after {
    content: "\f107";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 12px;
  }
}


div#actions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  .action {
    width: 200px;
    background-color: var(--dark-background);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: scale(1);

    &:hover {
      background-color: var(--second-background-color);
      transform: scale(1.02);
    }

    .action-icon {
      font-size: 30px;
    }

    .action-details {
      text-align: center;
      padding: 20px 20px 0;
    }


    .action-type {
      margin-bottom: 10px;
    }

    .action-type, .action-icon {
      color: var(--color-success);
    }

    .action-title {
      font-size: 120%;
    }

    .action-project-version {
      margin: 10px 0 25px;

    }
  }
}

.big-search {
  background-color: var(--dark-background);
  padding: 10px;
  border-radius: 9px;
  border: 1px solid var(--border-color);
  font-size: 19px;

  input {
    width: 100%;
  }
}

.action {
  &.add {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .aa-over {
    overflow: hidden;
    scale: 0;
    max-width: 0;
    max-height: 0;
  }

  .add-action {
    background-color: var(--second-background-color);
    display: flex;
    width: 50px;
    border: 1px solid var(--border-color);
    height: 50px;
    border-radius: 50%;
    align-items: center;
    transition: all 250ms;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  &:hover {
    .add-action {
      width: 150px;
      border-radius: 15px;
      background-color: var(--dark-background);
    }

    .aa-idle {
      animation: to-right 250ms 1 forwards ease-in-out;
    }

    .aa-over {
      animation: to-left 250ms 1 reverse forwards ease-in-out;
    }
  }
}

@keyframes to-left {
  0% {
    overflow: unset;
    scale: 1;
    max-width: unset;
    max-height: unset;
  }

  1% {
    opacity: 1;

  }
  99% {
    opacity: 0;
  }
  100% {
    overflow: hidden;
    scale: 0;
    max-width: 0;
    max-height: 0;
  }
}

@keyframes to-right {
  0% {
    overflow: unset;
    scale: 1;
    max-width: unset;
    max-height: unset;

  }
  1% {
    opacity: 1;

  }
  99% {
    opacity: 0;
  }
  100% {
    overflow: hidden;
    scale: 0;
    max-width: 0;
    max-height: 0;
  }
}