$appwrite: #f02e64;
:root {
  --background-color: #2b2b2b;
  --second-background-color: #3c3f41;
  --text-color: #bababa;
  --dark-background: #212121;
  --border-color: #343a40;

  --color-success: #5bd9ac;
  --color-danger: #d95b5b;
  --color-primary: #4361ee;
}

.light {
  --background-color: white;
  --second-background-color: #f2f2f2;
  --text-color: #080808;
  --dark-background: #c7c7c7;
  --border-color: #d8d8d8;

  --color-success: #2fd096;

}
