$appwrite: #f02e64;
:root {
  --background-color: #1c1f26;
  --second-background-color: #242836;
  --text-color: #abb3b6;
  --dark-background: #14141e;
  --border-color: #343a40;
}

.light {
  --background-color: white;
  --second-background-color: #efefef;
  --text-color: #14141e;

  --dark-background: #c7c7c7;
  --border-color: #d8d8d8;

}
